<h1>Editing user</h1>
<%= form_for(current_user) do |f| %>
    <div class="field">
      <%= f.label :email %>&#42<br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %>&#42<br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :first_name %>&#42<br />
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :middle_name %><br />
      <%= f.text_field :middle_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %>&#42<br />
      <%= f.text_field :last_name %>
    </div>
    <p>&#42 Necessary fields</p>
    <div class="actions">
      <%= f.submit "Update user"%>
    </div>
<% end %>
<%= link_to 'Back', products_path %>
