<p id="notice"><%= notice %></p>

<p>
  <b>Full name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email address:</b>
  <%= @order.email %>
</p>

<p>
  <b>Payment type:</b>
  <%= @order.pay_type %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', products_path %>
