<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<p><%= render :partial => 'items', :locals => {:cart => current_cart} %></p>

<div>
  <%= render :partial => 'checkout_buttons' %>
  <%= button_to 'Empty cart', @cart, :method => :delete, :confirm => 'Are you sure?' %>
</div>

<div>
  <%= link_to 'Continue shopping', products_path %>
</div>