<div id="side">

  <div id="cart">
    <% if current_cart.line_items.empty? %>
        <p>Your Cart is empty</p>
    <% else %>
        <div class="cart_title">Your Cart</div>
        <%= render :partial => 'carts/items', :locals => {:cart => current_cart} %>
        <%= render :partial => 'carts/checkout_buttons' %>
    <% end %>
    <%= button_to "Edit Your Cart", :controller => "carts", :action => "your_cart" %>
  </div>

  <ul>
    <li><%= link_to "Available Games", products_path %></li>
    <li><%= link_to 'Sell your game', :controller => "products", :action => "new" %></li>
    <li><%= link_to "Home", :controller => "menu", :action => "home" %></li>
    <% if logged_in? %>
        <li> <%= link_to "My_Account", :controller => "users", :action => "show" %></li>
    <% else %>
        <li><%= link_to "Create an account", new_user_url %></li>
    <% end %>
    <li> <%= link_to "News", :controller => "menu", :action => "news" %></li>
  </ul>

</div>