<div id="side">

  <div id="cart">
    <%= render :partial => 'carts/cart', :locals =>  { :cart => current_cart} %>
  </div>

  <ul>
    <li> <%= link_to "Available Games", products_path %> </li>
    <li> <%= link_to "Home", :controller => "menu", :action => "home" %></li>
    <li> <%= link_to "Account", :controller => "menu", :action => "my_account" %></li>
    <li> <%= link_to "Cart", :controller => "menu", :action => "my_cart" %></li>
    <li> <%= link_to "News", :controller => "menu", :action => "news" %></li>
    <li> <%= link_to "Your Cart", :controller => "carts", :action => "your_cart" %></li>
  </ul>

</div>