<div id="side">

  <div id="cart">
    <% if current_cart.line_items.empty? %>
        <p>Your Cart is empty</p>
    <% else %>
        <%= render :partial => 'carts/items', :locals => {:cart => current_cart} %>
        <%= render :partial => 'carts/checkout_buttons' %>
    <% end %>
    <%= button_to "Edit Your Cart", :controller => "carts", :action => "your_cart" %>
  </div>

  <ul>
    <li> <%= link_to "Available Games", products_path %> </li>
    <li> <%= link_to "Home", :controller => "menu", :action => "home" %></li>
    <li> <%= link_to "Account", :controller => "menu", :action => "my_account" %></li>
    <li> <%= link_to "News", :controller => "menu", :action => "news" %></li>
  </ul>

</div>