<!DOCTYPE html>
<html>
<head>
  <title>Board World</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div id="banner">
  <%= @page_title || "Board World" %>
</div>

<div id="columns">

  <div id="side">

    <ul>
      <li> <%= link_to "Available Games", products_path %> </li>
      <li> <%= link_to "Home", :controller => "menu", :action => "home" %></li>
      <li> <%= link_to "Account", :controller => "menu", :action => "my_account" %></li>
      <li> <%= link_to "Cart", :controller => "menu", :action => "my_cart" %></li>
      <li> <%= link_to "News", :controller => "menu", :action => "news" %></li>
      <li> <%= link_to "Your Cart", :controller => "carts", :action => "your_cart" %></li>
    </ul>

  </div>

  <div id='header'>
    <% if logged_in? %>
        <p>Welcome <%= current_user.email %> |</p>
        <%= button_to 'My_account', my_account_url %>
        <% if is_admin? %>
            <%= button_to 'Users', users_url, method: :get %>
            <%= button_to 'Orders', orders_url, method: :get %>
        <% end %>
        <%= button_to 'Logout', logout_path %>
    <% else %>
        Hello, <%= button_to 'Create an account', new_user_url, method: :get%>
        <%= form_tag sessions_path do %>
            <div class="field">
              <%= label_tag :email %><br />
              <%= text_field_tag :email %>
            </div>
            <div class="field">
              <%= label_tag :password %><br />
              <%= password_field_tag :password %>
            </div>
            <div class="actions">
              <%= submit_tag 'Login' %>
            </div>
        <% end %>
    <% end %>
  </div>


  <div id="main">
    <%= yield %>
  </div>


</div>

</body>
</html>