<!DOCTYPE html>
<html>
<head>
  <title>Lasica</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='welcome'>
  <% if logged_in? %>
      <p>Welcome <%= current_user.email %> |</p>
      <%= button_to 'My_account', my_account_url %>
      <% if is_admin? %>
          <%= button_to 'Users', users_url, method: :get %>
          <%= button_to 'Orders', orders_url, method: :get %>
      <% end %>
      <%= button_to 'Logout', logout_path %>
  <% else %>
      Hello, <%= button_to 'Create an account', new_user_url, method: :get%>
      <%= button_to 'Login', login_path %>
  <% end %>
</div>


| <%= link_to "Available Games", products_path %> |
<%= link_to "Home", :controller => "menu", :action => "home" %> |
<%= link_to "Account", :controller => "menu", :action => "my_account" %> |
<%= link_to "Cart", :controller => "menu", :action => "my_cart" %> |
<%= link_to "News", :controller => "menu", :action => "news" %> |
<%= link_to "Your Cart", :controller => "carts", :action => "your_cart" %> |
<div id='header'>
  <% if logged_in? %>
      <%= current_user.email %> |
      <%= link_to 'Logout', logout_path %> |
  <% else %>
      <%= link_to "Login", login_path %> |
      <%= link_to "Registration", new_user_path %> |
  <% end %>
</div>

<%= yield %>

</body>
</html>