<!DOCTYPE html>
<html>
<head>
  <title>Board World</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div id="banner">
  <%= @page_title || "Board World" %>
</div>

<div id="columns">

  <%= render :partial => 'layouts/left_nav' %>

  <%= render :partial => 'layouts/header' %>


  <div id="main">
    <%= yield %>
  </div>


</div>

</body>
</html>